body {  
    font-family: Roboto, sans-serif;  
    margin: 0;  
    padding: 0;  
    background-color: #fff;  
}  

header {  
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
    padding: 20px;  
    background-color: #fff;  
}  

.logo {  
    font-size: 24px;  
    font-weight: bold;  
}  

.shop {  
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px black;
    padding: 5px 1px;  
    border-radius: 5px;  
}  

nav ul {  
    list-style: none;  
    display: flex;  
    gap: 20px;  
}  

nav a {  
    text-decoration: none;  
    color: #000;  
}  

.login {  
    background-color: #000;  
    color: #fff;  
    padding: 10px 15px;  
    border-radius: 5px;  
}  

main {  
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
    padding: 50px;  
}  

.content {  
    max-width: 600px;  
}  

h1 {  
    font-size: 36px;  
}  

h2 {  
    font-size: 48px;  
    font-weight: bold;  
}  

p {  
    font-size: 16px;  
    margin: 20px 0;  
}  

.buttons {  
    display: flex;  
    gap: 10px;  
}  

.shop-now, .contact-us {  
    padding: 10px 20px;  
    border: 2px solid #000;  
    text-decoration: none;  
    color: #000;  
    border-radius: 5px;  
}  

.shop-now {  
    background-color: #000;  
    color: #fff;  
}  

.scroll-down {  
    text-align: center;  
    margin-top: 50px;  
    font-size: 16px;  
}  

.arrow {  
    font-size: 24px;  
    margin-top: 5px;  
}
